<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Restaurant SignUp</h1>
                    <h5>SignUp to find new Restaurants</h5>
                    <hr>
                </div>

                <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                    <div class="mb-3">
                        <label  class="form-label">Name</label>
                        <input formControlName="name" placeholder="Enter your full name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>                    
                    <div class="mb-3">
                        <label  class="form-label">Mobile</label>
                        <input formControlName="mobile" placeholder="Enter your Contact Number" type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>                    
                    <div class="mb-3">
                        <label  class="form-label">Email</label>
                        <input formControlName="email" placeholder="Enter your Email address" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Password</label>
                        <input formControlName="password" placeholder="Set up 4 digit password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>                    
                    <button type="submit" class="btn btn-primary">SignUp</button>
                </form>
                <a style="margin-top: 10px;" routerLink="/login">Existing User? Click to Login</a>
            </div>
        </div>
    </div>
</div>